.topMenu {
    background-color:deepskyblue;
    padding-bottom: 2px;
}

.topMenu h2 {
    font-size: 20px;
    padding-left: 10px;
    padding-top: 5px;
}

.subMenu {
    background-color: rgb(44, 243, 243);
    border-bottom: solid;
}

.subMenu h3 {

    padding-top: 2px;
    font-size: 15px;
}

.tooltip-chart {
    background-color: white;
    border: 1px solid black;
    padding: 5px;
    /* this will be used later to show the tooltip on the chart */
    position: absolute; 
    /* hide the tooltip for a while */
    display: block;
}

.dropdown-item:hover {
    background-color: rgb(66, 177, 202);
}